.header {
    width: 100%;
    padding: 16px 0;
    color: #7A7A7A;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        img {
            max-width: 170px;
        }
    }
    &__search {
        &--form {
            position: relative;
            img {
                position: absolute;
                right: 0;
                top: 15px;
            }
            input {
                border: 0;
                border-bottom: 1px solid #7A7A7A;
                width: 718px;
                padding: 10px 0;
                outline: none;
            }
        }
    }
    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 21px;
        font-size: 13px;
        &--customer {
            gap: 6px;
            display: flex;
            align-items: center;
        }
        &--cart {
            position: relative;
            .number {
                position: absolute;
                top: 0;
                right: -15px;
                background: #F8475F;
                border-radius: 50%;
                width: 14px;
                height: 14px;
                text-align: center;
                color: white;
            }
        }
    }
}